alabaster
babel
certifi
charset-normalizer
docutils
idna
imagesize
jinja2
markupsafe
packaging
pygments
pyparsing
pytz
requests
snowballstemmer
sphinx
sphinx-git
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxemoji
urllib3
